#trelloModalLabel{
  text-align: center;
  font-weight: bold;
  color: #444;
}

.glyphicon-arrow-left{
  float: left;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  visibility: hidden;
}
.glyphicon-arrow-left:hover{
  color: #555;
}

button.close{
  font-size: 30px;
}


.board{
  background-color: #ccc;
  text-align: center;
  padding: 20px 0 30px 0;
  border: 5px solid white;
  cursor: pointer;
}

.board:hover{
  background-color: #aaa;
}

.list{
  background-color: #999;
  cursor: pointer;
  border: 5px solid white;
  padding: 20px 0 10px 0;
  text-align: center;
}

.list:hover{
  background-color: #aaa;
}

.card{
  background-color: #aaa;
  cursor: pointer;
  border: 5px solid white;
  padding: 10px 0 10px 0;
  text-align: center;
}
.card:hover{
  background-color: #ccc;
}

